<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="../../resources/static/css/font-awesome.min.css"
          th:href="@{/resources/static/css/font-awesome.min.css}">
    <link rel="stylesheet"
          href="../../resources/static/css/bootstrap.css"
          th:href="@{/resources/static/css/bootstrap.css}">
    <link rel="stylesheet"
          href="../../resources/static/css/style.css"
          th:href="@{/resources/static/css/style.css}">
    <title>Transports</title>
</head>
<body>
<header>
    <nav class="pl-2 navbar navbar-expand-sm navbar-dark bg-dark text-light  p-0">
        <a href="/" class="navbar-brand"><img src="../../resources/static/img/logo.svg"
                                              th:src="@{/resources/static/img/logo.svg}"
                                              height="32" width="32" alt="HR"></a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <a class="nav-item nav-link"
                   href="fuels.html"
                   th:href="@{/fuels}">Fuels</a>
                <a class="nav-item nav-link active"
                   href="transports.html"
                   th:href="@{/transports}">Transports</a>
            </ul>
        </div>
    </nav>
    <nav id="main-header"
         class="py-1 mb-3 navbar navbar-expand-sm navbar-light bg-light text-dark">
        <span class="navbar-brand text-uppercase mr-auto">Transports</span>
        <ul class="navbar-nav float-right">
            <li class="nav-item">
                <a href="transport.html"
                   th:href="@{/transport}"
                   class="btn btn-light"
                   title="Add transport"
                   data-toggle="tooltip"
                   data-placement="bottom">
                    <i class="fa fa-plus"></i> <span
                        class="d-none d-sm-inline">Add</span></a>
            </li>
        </ul>
    </nav>
</header>

<section id="filter">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <form id="filterForm" action="#" th:action="@{/transports}" th:method="post">
                            <div class="form-row">
                                <div class="form-group col-md-3">
                                    <label for="dateFrom">Date from</label>
                                    <input type="date" class="form-control" name="dateFrom" id="dateFrom"
                                           placeholder="yyyy-MM-dd"
                                           th:attr="value=${#dates.format(dateFrom, 'yyyy-MM-dd')}">
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="dateTo">Date to</label>
                                    <input type="date" class="form-control" name="dateTo" id="dateTo"
                                           placeholder="yyyy-MM-dd"
                                           th:attr="value=${#dates.format(dateTo, 'yyyy-MM-dd')}">
                                </div>
                            </div>
                            <button type="submit" class="btn btn-outline-secondary">Update</button>
<!--                            <a href="transport.html"-->
<!--                               th:href="@{/transports/from/{from}/to/{to}(from=${#dates.format(dateFrom,-->
<!--                                'yyyy-MM-dd')}, to=${#dates.format(dateTo, 'yyyy-MM-dd')})}"-->
<!--                               class="btn-sm btn-outline-secondary"-->
<!--                               title="Edit transport"-->
<!--                               data-toggle="tooltip"-->
<!--                               data-placement="top">-->
<!--                                <i class="fa fa-filter"></i>-->
<!--                                <span class="d-none d-md-inline">Search</span>-->
<!--                            </a>-->
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="transport">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="card">
                    <table class="table table-striped">
                        <thead class="thead-dark">
                        <tr>
                            <th>Name</th>
                            <th>Fuel</th>
                            <th>Tank capasity</th>
                            <th>Date</th>
                            <th style="width: 10%"></th>
                            <th style="width: 10%"></th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr th:each="transport:${transports}">
                            <td th:text="${transport.transportName}">Golf-Variant-CL-1.8(5M)</td>
                            <td th:text="${fuelsMap.get(__${transport.fuelId}__).getFuelName()}">Gasoline</td>
                            <td th:text="${transport.transportTankCapasity}">45</td>
                            <td th:text="${#dates.format(transport.transportDate, 'yyyy-MM-dd')}">2020-02-04</td>
                            <td class="text-right">
                                <a href="transport.html"
                                   th:href="@{|/transport/${transport.transportId}|}"
                                   class="btn-sm btn-outline-secondary"
                                   title="Edit transport"
                                   data-toggle="tooltip"
                                   data-placement="top">
                                    <i class="fa fa-pencil"></i>
                                    <span class="d-none d-md-inline">Edit</span>
                                </a>
                            </td>
                            <td class="text-left">
                                <span data-toggle="modal"
                                      data-target="#deleteDialog"
                                      th:attr="data-id=${transport.transportId},data-name=${transport.transportName}">
                                <a href="#"
                                   class="btn-sm btn-outline-secondary"
                                   title="Delete transport"
                                   data-toggle="tooltip"
                                   data-placement="top">
                                    <i class="fa fa-remove"></i>
                                    <span class="d-none d-md-inline">Delete</span>
                                </a>
                                </span>
                            </td>
                        </tr>
                        <tr th:remove="all">
                            <td>VolvoFH-Truck</td>
                            <td>Diesel</td>
                            <td>180</td>
                            <td>2020-02-10</td>
                            <td class="text-right">
                                <a href="transport.html"
                                   th:href="@{/transport}"
                                   class="btn-sm btn-outline-secondary"
                                   title="Edit transport"
                                   data-toggle="tooltip"
                                   data-placement="top">
                                    <i class="fa fa-pencil"></i>
                                    <span class="d-none d-md-inline">Edit</span>
                                </a>
                            </td>
                            <td class="text-left">
                                <span data-toggle="modal" data-target="#deleteDialog">
                                <a href="#"
                                   class="btn-sm btn-outline-secondary"
                                   title="Delete transport"
                                   data-toggle="tooltip"
                                   data-placement="top">
                                    <i class="fa fa-remove"></i>
                                    <span class="d-none d-md-inline">Delete</span>
                                </a>
                                </span>
                            </td>
                        </tr>
                        <tr th:remove="all">
                            <td>SCMITZ-SKO24</td>
                            <td>Diesel</td>
                            <td>200</td>
                            <td>2020-02-13</td>
                            <td class="text-right">
                                <a href="transport.html"
                                   th:href="@{/transport}"
                                   class="btn-sm btn-outline-secondary"
                                   title="Edit transport"
                                   data-toggle="tooltip"
                                   data-placement="top">
                                    <i class="fa fa-pencil"></i>
                                    <span class="d-none d-md-inline">Edit</span>
                                </a>
                            </td>
                            <td class="text-left">
                                <span data-toggle="modal" data-target="#deleteDialog">
                                <a href="#"
                                   class="btn-sm btn-outline-secondary"
                                   title="Delete transport"
                                   data-toggle="tooltip"
                                   data-placement="top">
                                    <i class="fa fa-remove"></i>
                                    <span class="d-none d-md-inline">Delete</span>
                                </a>
                                </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<footer>
    <hr/>
    <p class="text-center">&copy; 2020</p>
</footer>

<!-- Confirm delete Modal -->
<div class="modal fade" id="deleteDialog" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header alert-danger">
                <h5 class="modal-title" id="exampleModalLabel">Delete transport</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Please confirm delete
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <a id="deleteUrl" href="#" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>

<script src="../../resources/static/js/jquery-3.4.1.slim.min.js"
        th:src="@{/resources/static/js/jquery-3.4.1.slim.min.js}"></script>
<script src="../../resources/static/js/popper.min.js"
        th:src="@{/resources/static/js/popper.min.js}"></script>
<script src="../../resources/static/js/bootstrap.min.js"
        th:src="@{/resources/static/js/bootstrap.min.js}"></script>
<script>
    $('#deleteDialog').on('show.bs.modal', function (event) {
        var target = $(event.relatedTarget);
        $(this).find('.modal-body').text('Please confirm delete transport: "' + target.data('name') + '"');
        document.getElementById('deleteUrl').href = '/transport/' + target.data('id') + '/delete';
    });
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })

</script>

</body>
</html>